* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Style */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btns {
  display: flex;
  gap: 20px;
}

.btn1 {
  padding: 12px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn2:hover,
.btn1:hover {
  background-color: black;
  color: white;
}

.btn2 {
  padding: 12px 16px;
  color: white;
  background: none;
  border: solid 1px white;
  border-radius: 5px;
}

section {
  padding: 60px 0px;
}

/* Individual Style */

/* Navbar */

nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0;
}

.navlinks ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navlinks ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

/* Hero Section */

.hero {
  height: 75vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.hero-content h1 span {
  color: #469165;
}

.hero-content p {
  color: white;
  line-height: 30px;
  word-spacing: 3px;
  text-align: center;
  font-weight: 300;
}

#alert {
  padding: 10px 20px;
  background-color: white;
  color: #469165;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.note h1 {
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}

.note p {
  text-align: center;
}

.note-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}

.note-card img {
  max-width: 60px;
  background-color: #f95555;
  padding: 15px;
  border-radius: 100%;
}

.note-card {
  max-width: 322px;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 0px 30px rgb(234, 234, 234);
  border-radius: 8px;
}
